
*{
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	width: 100%;
	background-color: #fefaf0;
	
	
}

/* scroll-behavior */
html{
	scroll-behavior: smooth;
}
  
/* menu de nav + header */

nav {
	background: rgba(190, 153, 197, 0.7);
	width: 100%;
	height: 80px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 2;

} 

label.logo {
	color: #333533;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav>ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

nav>ul>li {
	line-height: 80px;
}

nav ul li a {
	color: #333533;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 30px 60px;
	text-decoration: none;
}
nav ul li a:hover {
	background: #8d6b94;
	transition: .5s;
	color: #fefaf0;
}
nav ul li a.active {
	background: #8d6b94;
	transition: .5s;
	color: #fefaf0;
	border-bottom: 1rem solid  #5f4066;
}


section{
	height: 100vh;
	width: 100%;
	display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
  
  }
  
  section .col-right {
	  width: 50%;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  padding: 40px 40px;
  
  }
  
  section .col-left {
	  width: 50%;
	  height: 100vh;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  padding: 40px 40px;
  }
  
  section .col-right img {
	  height: 70vh;
	  width: 70vh;
  }
  
  
  
  .lead {
	  font-size: 1.5rem;
	  padding-top: 8rem;
	}
  
  section div h1 {
	font-size: 4rem;
  }
  

/* media query */

@media (max-width: 1200px) {
  label.logo {
    font-size: 20px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  section .col-right {
	display: none;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}


@media (max-width: 858px) {
  .checkbtn{
    display: block;
  }
  label.logo {
    display: none;
}

  ul {
    position: fixed;
    width: 100%;
    display: flex;
	justify-content: center;
	margin-right: 0px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
  }
  nav ul li a{
    color: #333533;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 30px 20px;
  }
  
  #check:checked ~ ul{
    left: 0;
  }
  section .col-right {
	display: none;
  }
  section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}

/* animation pour titre h1 dans section */

section.actived>div>h1 {
	color: transparent;
	position: relative;
	display: inline-block;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}

section.actived>div>h1>span {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	background-color: #be99c5;
	animation: overlay 1s ease forwards;
	animation-delay: .5s;
}
@keyframes overlay{
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		left: 100%;
		width: 0;
	}
}
@keyframes text_reveal{
	100%{
		color: #333533;
	}
}

section.actived>div>p {
	    
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
